body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5dc;
    width: fit-content;
    margin: auto;
    gap: 20px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: #593C39;
    font-size: 45px;
    margin-bottom: 2px;
    text-align: center;
}

#menu {
    font-family:'Courier New', Courier, monospace;
    background-color: #795C34;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#container {
    display: flex;
    border-style: solid;
    border-color: #282825;
    background-color: white;
    box-shadow: 0 0 30px #C9A38D;
    margin: auto;
    flex-wrap: wrap;
    width: 800px;
    max-height: 700px;
}

#newRow {
    display: flex;
    width: 800px;
}

#gridDiv {
    display: flex;
    border-width: thin;
    flex: 1;
    border-style: solid;
    border-color: #282825;
    aspect-ratio: 2/1;
}

#clearGridButton {
    margin-left: 20px;
    background-color: #e8e8c9;
    color: #402e2d;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    padding:5px;
}

.footer {
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #795C34;
  color: white;
  text-align: center;
}
a {
    text-decoration:underline;
}
a:link, a:visited {
    color: white;
}
a:hover {
    color: #402e2d;
}